{% extends 'base1.html' %}


{% block content %}
    <!-------------- post 등록/수정 영역 ---------------->
{#    {% if user.is_authenticated %}      <!-- Button trigger modal -->#}
{#    <div class="d-flex justify-content-end">#}
{#        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
{#          게시글 작성#}
{#        </button>&nbsp;&nbsp;#}
{#    </div>#}
{#    {% endif %}#}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">게시글 작성</h1>
{#            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
          </div>
            <form method="POST" action="
                        {% if update %}/update_post/{{ post.id }}/{% else %}/add_post/{% endif %}
                        " enctype="multipart/form-data">
                        {% csrf_token %}
              <div class="modal-body">
                    {{ form.as_p }}
                    <input type="file" name="images" accept=".jpg, .png, .jpeg, .webp, .gif" multiple>
                    {% if update %}<small>삭제할 이미지 선택</small>{% endif %}
                    {% for image in images %}
                    <img src="{{ image.image.url }}" width="200" alt="{{ image.name }}" />
                    <input type="checkbox" name="delete_images" value="{{ image.id }}" />
                    {% endfor %}

              </div>
              <div class="modal-footer">
                <a href="/"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <!-------------- post 등록/수정 영역 끝 ---------------->


    <!-------------- post 표시 영역 ---------------->
    <div class="masonry">
        {% for post in posts %}
      <div class="masonry-item">
      <a href="{% url 'post_detail' id=post.id %}" style="text-decoration: none;">
        <div class="card p-1">
          <!-------------- image area using carousel ---------------->
        {% if post.images.first.image %}
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ post.images.first.image.url }}" class="d-block w-100" alt="{{ post.title }}">
            </div>
            {% for image in post.images.all %}
             <div class="carousel-item">
                <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ post.title }}">
             </div>
            {% endfor %}
             </div>
            </div>
            {% else %}
            <img src="/media/penguin_logo.png" class="d-block w-100" alt="...">
        {% endif %}
                    <!-------------- image area using carousel 끝 ---------------->
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ post.title }} <small class="fs-6 fw-lighter text-body-secondary"> &nbsp;by {{ post.author }}</small></h5>
              <hr />
            <p class="card-text">{{ post.content | linebreaksbr | truncatewords:10 }}</p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
    <!-------------- post 영역 끝 ---------------->
    {% if update %}
    <script>
        modalLabel = document.getElementById('exampleModalLabel')
        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
            modalLabel.innerHTML = "게시글 수정";
            myModal.show();
        });
    </script>
    {% endif %}
{% endblock %}




<!--
    {% for post in posts %}
    <div style="border: 1px solid black;">
        <h4>{{ post.title }}</h4> <small>user: {{ post.author }}</small>
        <p>{{ post.content | linebreaksbr }}</p>
        {% if post.images.first.image %}
            {% for image in post.images.all %}
            <img src="{{ image.image.url }}" alt="{{ post.title }}" width="400">
            {% endfor %}
        {% else %}
            <p style="color: lightgray">No images</p>
        {% endif %}
        {% if request.user == post.author %}
            <form method="POST" action="del_post/{{ post.id }}/">
            {% csrf_token %}
            <input type="submit" value="Delete">
            </form>
            <form method="POST" action="update_post/{{ post.id }}/">
            {% csrf_token %}
            <input type="submit" value="Update">
            </form>

        {% endif %}

        <div class="comment">
            <form method="POST" action="add_comment/{{ post.id }}/">
                {% csrf_token %}
                <label><input type="text" name="comment_content" placeholder="write comment" /></label>
                <input type="submit" value="Submit">
            </form>
            <ul>
            {% for comment in post.comments.all %}
                <li>
                    <p>{{ comment.author }} - {{ comment.content }}</p>
                {% if comment.author == request.user %}
                    <form method="POST" action="del_comment/{{ comment.id }}/">
                    {% csrf_token %}
                    <input type="submit" value="Del">
                    </form>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

-->